:root{
    --base-yellow: #FFD900;
    --base-txt-color: #000000;
    --base-grey: #d4d4d4;
    --marg-top-element: 2vh; /* ? */
    --base-anthracite: rgb(71, 71, 71);
}
body{
    font-family: 'Lato', sans-serif;
    background: url('../pictures/bckgBVB.jpg');
    background-size: cover;
}

.cen-tit{
    text-align:center;
}
/***************HEADER.PHP***************/
header{
    background:var(--base-yellow);
}

header>div{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
/*slogan*/
header>div>h1{
    margin:0;
    font-family: 'Dancing Script', cursive;
    text-align:center;
    width: 20%;
    cursor:default;
}
/*logo*/
.header-logo{
    width: 20%;
    text-align: center;
}

.header-logo>a>img{
    width:35%;
    margin:1vh 0;
    transition:0.2s;
    border-radius:50%;
}

.header-logo>a>img:hover{
    transform:scale(1.07);
    -webkit-box-shadow: 0px 8px 7px -1px rgba(0,0,0,0.70); 
    box-shadow: 0px 8px 7px -1px rgba(0,0,0,0.70);
}
/*inscription button*/
.header-Rbutton{
    width: 20%;
    text-align:center;
}

.header-Rbutton>a{
    text-decoration: none;
    color:var(--base-yellow);
    background:var(--base-txt-color);
    padding:1.5vh 1vw;
    transition:0.2s;
    display:block;
    width:max-content;
    margin:0 auto;
    width:35%;
    font-weight:bold;
}
.header-Rbutton>a:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border:1px solid var(--base-yellow);
}
.header-Rbutton>a:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border:1px solid var(--base-yellow);
}

.header-Rbutton>a:hover{
    background-color: var(--base-yellow);
    color:var(--base-txt-color);
    border:1px solid black;
}
/*when user is connected*/
.connected>p{
    margin:0;
}
.connected>p:last-child{
    margin-top:1vh;
}
.connected>hr{
    color:var(--base-yellow);
}

/*navbar*/
header>nav{
    display:flex;
    justify-content: center;
    align-items: center;
    background:var(--base-txt-color);
}

header>nav>a{
    padding:0.5vh 0;
    margin:3px 0.5vw;
    width:15%;
    color:var(--base-yellow);
    text-decoration:none;
    text-align:center;
    font-weight:600;
}

header>nav>a:hover{
    box-sizing: border-box;
    border:1px solid var(--base-yellow);
    margin: 1px 0.5vw;
}
/*admin button*/
.admin-btn{
    display:block;
    width:50%;
    margin:1vh auto;
    padding:1vh 1vw;
    background:var(--base-yellow);
    text-decoration: none;
    color:black;
    text-align: center;
    border:2px solid black;
    font-weight:bold;
    border-radius:5px;
}
/***************INDEX.PHP***************/
/*first section (image)*/
.garage{
    background:no-repeat 50% 60% url(../pictures/garageBVB.jpg);
    background-size:100%;
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.322);display:flex;
    justify-content:right;
    align-items: center;
    transition:0.2s;
}

/*responsive img*/
.garage>img{
    display:none;
}
/*txt + button*/
.sh-txt{
    line-height:150%;
    width:35%;
    padding:7vh 2vw;
    margin:0 0;
    background: rgba(255, 217, 0, 0.65);
    cursor: default;
    clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0% 100%);
    transition:0.2s;
}
.garage:hover>.sh-txt{
    background: rgba(255, 217, 0, 0.85);
    clip-path: polygon(22% 0, 100% 0, 100% 100%, 0% 100%);
}

.sh-txt>h2, .sh-txt>p{
    margin-left:30%;
}
.sh-txt>h2{
    margin-top:0;
    text-decoration:underline;
}
.sh-txt>p{
    font-weight:bold;
    color:var(--base-txt-color);
}
.sh-txt>a, .c-txt>a{/* garage div + concessionnaire div button*/
    text-decoration:none;
    background-color:black;
    color:var(--base-yellow);
    margin:3vh 0 2vh 30%;
    border-radius:5px;
    display:block;
    width: 40%;
    text-align:center;
    padding:1vh 0;
    border:1px solid black;
    box-sizing:border-box;
    transition:0.2s;
}
.sh-txt>a:hover,.c-txt>a:hover{/* garage div + concessionnaire div button*/
    background-color: var(--base-yellow);
    color:var(--base-txt-color);
    border:1px solid black;
    
}

/*2nd section (partner)*/
.partner{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:1vh 0;
}
.partner>img{
    width:20%;
}

/*3rd section (concession)*/
/*responsive img ↓ */
.concession>img{
    display:none;
}
.concession{
    background:no-repeat 50% 60% url(../pictures/voiture.jpg);
    background-size:100%;
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.322);
    display:flex;
    justify-content:left;
    align-items: center;
}
.c-txt{
    line-height:150%;
    width:35%;
    padding:7vh 2vw;
    margin:0 0;
    background: rgba(255, 217, 0, 0.65);
    cursor: default;
    clip-path: polygon(0 0, 71% 0, 100% 100%, 0 100%);
    transition:0.2s;
}
.concession:hover>.c-txt{
    background: rgba(255, 217, 0, 0.85);
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0% 100%);
}
.c-txt>p, .c-txt>p{
    margin-right:30%;
}
.c-txt>h2{
    text-decoration:underline;
}
.c-txt>p{
    font-weight:bold;
}
.c-txt>a{
    margin:3vh 30% 2vh 0;
    }

/*5th section (contact)*/
.contact{
    margin:0 auto;
    background:no-repeat 50% 60% url(../pictures/garage2.jpg);
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.322);
    display:flex;
    justify-content: space-between;
}
.contact:hover>.open-time{
    background: rgba(255, 217, 0, 0.85);
    clip-path: polygon(22% 0, 100% 0, 100% 100%, 0% 100%);

}
.contact>iframe{
    margin:2vh 0 2vh 2vw;
    border-radius: 5px;
}
/*opening-time in contact div */
.open-time{
    line-height:150%;
    width:35%;
    padding:4vh 2vw;
    margin:0 0;
    background: rgba(255, 217, 0, 0.65);
    cursor: default;
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
    transition:0.2s;
}
.open-time>h2{
    margin-left:30%;
    text-decoration:underline;
}
.open-time>div{
    display:flex;
    
}
.week>div{
    display:flex;
    flex-direction:column;
}
.week>div:first-child{
    margin-left:30%;
}
.week>div:last-child{
    margin-left:10%;
}
.week>div>p, .week>div>h2{
    color:var(--base-txt-color);
    font-weight:bold;
    display:inline;
    margin:0;
}
/*address in contatc div*/
.address{
    display:flex;
}
.address>div:first-child{
    margin-left:30%;
}
.address>div:last-child{
    margin-left:10%;
}
.address>div>p{
    margin:0;
    font-weight: bold;
}

/***************CONNEXION.PHP***************/
.connexion{
    width:25%;
    margin:3vh auto;
    background:white;
    border-radius:5px;
    padding-bottom:1%;
}
.connexion>form>*{
    display:block;
}
.connexion>form>input{
    width: 90%;
    margin:6px 1% 0px 3%;
    padding:5px;
    border-radius:5px;
    border:1px solid rgb(151, 151, 151);
}
.connexion>form>label{
    display: inline-block;
    color:black;
    margin-top:20px;
    margin-left:3%;
}
.connexion>form>input[type="submit"]{
    width: 95%;
    padding:7px;
    margin:4vh 2%;
    border:1px solid black;
    border-radius: 5px;
    background-color: var(--base-yellow);
    font-weight:bold;
    cursor:pointer;
}
.connexion>h2{
    text-align: center;
    padding-top:1vh;
}

/***************INSCRIPTION.PHP***************/
.subscribe{
    margin:2vh auto 2vh auto;
    padding-bottom:10px;
    width:22%;
    border-radius:10px;
    background:rgb(255, 255, 255);
    display:flex;
    flex-direction: column;
    justify-content:center;
}
.subscribe>h2{
    text-align:center;
}
.subscribe label{
    display: inline-block;
    color:black;
    margin-top:2vh;
    margin-left:1vw;
}
.inputSubscribe{
    width: 90%;
    margin:6px 1% 0px 3%;
    padding:5px;
    border-radius:5px;
    border:1px solid rgb(151, 151, 151);
}
.formSubscribe h2{
    color:black;
}

.btnSubscribe{
    width: 95%;
    padding:1vh;
    margin:2vh 2%;
    border:1px solid black;
    border-radius: 5px;
    background-color: var(--base-yellow);
    font-weight:bold;
    cursor:pointer;
}

/***************CATALOG.PHP***************/
/***********1st section mandating***********/
.mandate{
    background:no-repeat center/cover url(../pictures/peugeot208.jpg);
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.322);
}
.mandate>div{
    width:40%;
    margin:0vh auto;
    padding:12vh 0;
    text-align:center;
    background: rgba(255, 217, 0, 0.65);
    clip-path: polygon(20% 0%, 100% 0, 80% 100%, 0% 100%);
    transition:0.2s;
}
.mandate:hover>div{
    background: rgba(255, 217, 0, 0.85);
    clip-path: polygon(15% 0%, 100% 0, 85% 100%, 0% 100%);
}
.mandate>div>h2{
    text-decoration:underline;
}
.mandate>div>p{
    margin-bottom:4vh;
}
.mandate>div>a{
    background:black;
    color: var(--base-yellow);
    text-decoration:none;
    font-weight:bold;
    padding:1vh 1vw;
    border-radius:5px;
    border:1px solid black;
    transition:0.2s;
 }
.mandate>div>a:hover{
     background:var(--base-yellow);
     color:black;
 }
/*********catalog********/
.cat-tit{
     background-color:black;
     color:var(--base-yellow);
     margin: 0;
     padding:2vh 0;
     cursor:default;
 }
.catalog{
    /* background:rgb(71, 71, 71); */
    padding:2vh 0; 
 }
 .car-ann{
    display:flex;
    align-items:center;
    width:90%;
    overflow:hidden;
    margin:0 auto;
    margin-bottom:3vh;
    background:var(--base-yellow);
    height:70vh;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;  
    border: 2px solid var(--base-yellow);
    transition:0.2s;
 }
/*image*/
.car-ann>div:first-child{
    width:40%;
    transition:0.3s;
}
.car-ann>div:first-child>a>img{
    width:100%;
}


/*brand's logo*/
.logo-ann{
    width:0;
    overflow:visible;
    box-shadow:none;
}
.logo-ann>img, .logo-ann>h2{
    text-align: center;
    position:relative;
    left:20vw;
    width:12vw;  
}

.logo-ann>h2{
    font-size:200%;
    font-weight:bolder;
    background:white;
    text-shadow: 1px 0px 2px var(--base-yellow);
    color:#000000;
    padding: 1vh 0;
    clip-path: circle(49.8% at 50% 50%);
    border:2px solid black;
}
/*text*/
.txt-ann{
    background:white;
    height:min-content;
    margin-left:3vw;
    width:50%;
    /* border:2px solid black; */
    border-radius: 20px;
    clip-path: polygon(100% 0, 100% 100%, 95% 14%, 95% 13%, 94% 10%, 93% 8%, 91% 6%, 89% 5%, 0 0);
    padding-left:1.5vw;
    transition:0.4s;
}
.txt-ann:hover{
    clip-path: polygon(100% 0, 85% 100%, 0 100%, 0 100%, 0 100%, 0 100%, 0 100%, 0 100%, 0 0);    border-top-right-radius: none;
}
.txt-ann>h3{
    font-size:160%;
    margin:2vh 2vh 0 0;
    margin-top:2vh;
}
.txt-ann:hover>h3{
    opacity:1;
}
.txt-ann>h3>i{
    float:right;
    transition:0.4s;
}
.txt-ann:hover>h3>i{
    opacity:0;
}

.txt-ann>h4{
    font-size:130%;
    margin:0;
    margin-top:1vh;
}
.txt-ann>p:nth-child(4){
    font-size:170%;
    font-weight:bold;
    margin:0;
    text-shadow: 1px 1px 0px var(--base-yellow);
}
.txt-ann>p:nth-child(6){/*option*/
    width:50%;
    column-width: 10em;
    column-rule: 1px solid rgb(75, 70, 74);
    float:left;
    margin-bottom:6vh;
}
.txt-ann>a{/*details btn*/
    float:left;
    padding:1vh 2vw;
    background:var(--base-yellow);
    color:black;
    text-decoration: none;
    border:1px solid black;
    border-radius:5px;
    position:relative;
    top:15vh;
    left:5vw;
    transition:0.2s;
}

/*text with font-a */
.txt-ann>div{
    width:50%;
    display:grid;
    grid-template-columns: repeat(2, 51%);
}
.txt-ann>div>p{
    margin-right:2vw;
    color:rgb(92, 92, 92);
}
.txt-ann>div>p>span{
    color:black;
    font-weight:bold;
}
.txt-ann>div>p>span::first-letter{
    color:red;
}
/***************CAR.PHP***************/

.carDet{
    width: 90%;
    margin:0 auto;
    background:var(--base-yellow);
    display:flex;
}

/*slider*/
.sld-container{
    width:100%;
    display:flex;
    align-items: center;
}

/*button left right*/
.btn-right-sld i:hover, .btn-left-sld i:hover{
    opacity:1;
}
.btn-right-sld i, .btn-left-sld i{
    font-size:180%;
    background:black;
    color:var(--base-yellow);
    cursor: pointer;
    opacity:0.85;
    transition:0.2s;
}
.btn-right-sld i{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-right: 1vw;
    padding:10vh 0.8vw 10vh 0.5vw;
}
.btn-left-sld i{
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    margin-left: 1vw;
    padding:10vh 0.5vw 10vh 0.8vw;
}

/*image container*/
.car-slider{
    height:fit-content;
    margin:3vh 0;
    border:2px solid var(--base-grey);
    border-radius:10px;
    overflow:hidden;
}
.car-slider>img{
    width:100%;
    height:auto;
    display:none;
}
.car-slider>img.active{
    display:block;
    animation: fade 0.5s;
}

@keyframes fade{
    from{
        opacity:0;
    }
    to{
        opacity: 1;
    }
}

/*calendar*/
.car-cld{
    text-align:center;
}

/*general info*/
.infoC{
    width:70%;
    display:grid;
    grid-template-columns: repeat(2, 51%);
}
.infoC>p{
    margin-right:2vw;
    color:rgb(92, 92, 92);
}
.infoC>p>span{
    color:black;
    font-weight:bold;
}

/*description*/
.carDet>article{
    background:white;
    margin:3vh 2vw 3vh 1vh;
    padding:2vh 2vw;
    border:2px solid var(--base-grey);
    border-radius:10px;
}

/***************MANDATE.PHP***************/
.mdt{
    width:50%;
    margin:2vh auto;
    padding:3vh 2vw;
    background:white;
    border-radius:10px;
    border:2px solid var(--base-yellow);
}
.mdt>p{
    text-align: center;
}
.mdt>form{
    width:40%;
    margin:0 auto;
}
.mdt>form>input{
    margin-bottom:1vh;
    padding:0.5vh 0;
}
.mdt>form>input[type='submit']{
    width: 50%;
    margin:0 auto;
    padding:1vh 0;
    background:black;
    color: var(--base-yellow);
    border:1px solid black;
    border-radius:5px;
    transition:0.2s;
}
.mdt>form>input[type='submit']:hover{
    background:var(--base-yellow);
    color: black;
}
.mdt>form>input, .mdt>form>label{
    display:block;
    width:100%;
}

/***************ADMIN.PHP***************/
/*user table*/
.user-admin{
    width: 95%;
    margin:1vh auto;
    border:1px solid black;
    border-bottom: none;
    border-radius: 5px;
    background:white;
}
.user-admin>a{
    display:block;
    padding:1vh;
    text-align: center;
    text-decoration: none;
    color:white;
    background:#147a00;
}
.user-tab{
    border-bottom: 1px solid black;
}
.user-tab>p:first-child{
    width:5%;
}
.user-tab>p{
    display:inline-block;
    width:20%;
    text-align: center;
}
.user-tab>a{
    display:inline-block;
    width:16%;
    text-align: center;
    text-decoration: none;
    color:black;
    margin:0 0.5%;
    padding:1vh 0;
}
.user-tab>a:nth-child(5){
    border-radius: 5px;
    background:#002fc9;
    color:white;
}
.user-tab>a:nth-child(6){
    border-radius: 5px;
    background:#da0000;
    color:white;
}
/**********createU.PHP**********/
.cre-us-form{/*css more detail of form in inscription.php css*/
    width: 25%;
    margin:2vh auto;
    background:white;
    border-radius:5px;
}
.cre-us-form>h2{
    padding-top:2vh
}
.cre-us-form>label{
    margin-left:1vw;
}
.cre-us-form>input{
    margin-bottom:1vh;
}
.cre-us-form>select{
    display:block;
    width: 92%;
    margin:6px 1% 1vh 3%;
    padding:5px;
    border-radius:5px;
    border:1px solid rgb(151, 151, 151);
}
/**********deleteU.PHP**********/
.delete{
    width:60%;
    margin:2vh auto;
    background:white;
    text-align:center;
    border-radius: 5px;
    padding-bottom:2vh;
}
.delete>p{
    padding:2vh 0 1vh 0;
}
.delete>form>input{
    margin:1vh 0 2vh 0;
    padding:1.5vh 0;
    width:15%;
    background:#da0000;
    color:white;
    border:none;
    border-radius: 5px;
    cursor:pointer;
}
.delete>a{
    margin-bottom:2vh
}
/**********updateU.PHP**********/
.upd-tab{
    width:60%;
    margin:2vh auto;
    padding-bottom:2vh;
    background:white;
    border-radius:5px;
}
.upd-tab>a{
    display:block;
    text-align: center;
    margin: 1vh 0;
}
.seeU, .updU{
    width: 34%;
    margin-left:15%;
    display:inline-block;
}
.seeU>p:nth-child(even){
    margin:0;
}
.seeU>p:nth-child(odd){
    margin:0.5vh 0 3vh 0;
}
.updU>form>label{
    display:block;
    width: 51%;
    margin:0 1%;
}
.updU>form>input{
    width: 60%;
    margin:1vh 1%;
    padding:0.5vh 0.5vw;
}
.updU>form>select{
    width: 66%;
    margin:1vh 1%;
    padding:0.5vh 0.5vw;
}
.updU>form>input:last-child{
    background:#002fc9;;
    color:white;
    border-radius:5px;
    border:none;
    padding:1.5vh 0;

}
/***************FOOTER.PHP***************/
footer{
    background:var(--base-txt-color);
    display:flex;
    justify-content: center;
    align-items:flex-start;
    padding:1vh 0;
}

footer>div{
    display:flex;
    flex-direction:column;
    width: 15%;
}

footer a, footer h4{
    color:var(--base-yellow);
}

footer h4{
    margin:0;
    cursor:default;
    text-decoration:underline;
}

footer a{
    text-decoration:none;
    margin:0.2vh 0;
    display:inline;
}
footer a:hover{
    font-weight:bold;
}

footer * {
    font-family: 'Lato', sans-serif;
}



/*****************************************************/
/*********************RESPONSIVE*********************/
/***************************************************/

/************HEADER.php*************/
@media screen and (max-width: 1306px) {
    /*header*/
    header>nav>a{
        width:20%;
    }
    header>div>h1{
        margin:0.5vh 0;
    }
    .header-logo>a>img{
        width:43%;
    }
    .header-Rbutton>a{
        width:50%;
    }
    /*index.php*/
    /*garage*/
    .sh-txt,.c-txt{
        width:40%;
    }
    /*concession*/
    .c-txt>a{
        width:42%;
    }
    /*contact*/
    .open-time{
        width:40%;
    }
    .contact>iframe{
        width:40%;
    }

    /*footer*/
    footer>div{
        width: 20%;
    }
}

@media screen and (max-width: 990px) {
    /*header*/
    header>div>h1{
        width: 25%;
        font-size:23px;
    }
    .header-logo{
        width: 25%;
    }
    .header-Rbutton{
        width: 25%;
        font-size:13px;
    }
    header>nav>a{
        font-size:13px;
    }
    /*index.php*/
    .sh-txt, .c-txt{
        width: 45%;
    }
    .sh-txt>h2, .c-txt>h2, .open-time>h2{
        font-size:20px;
    }
    .sh-txt>p,.c-txt>p, .week>div>p, .address>div>p {
        font-size: 13px;
    }
    /*footer*/
    footer a{
        font-size:13px;
    }
    footer h4{
        font-size: 14px;
    }
}

@media screen and (max-width: 840px) {
    /*header*/
    header>nav>a{
        width:25%;
    }
    .header-logo>a>img{
        width:43%;
    }
    /*index.php*/
    .sh-txt, .c-txt{
        padding: 3vh 2vw;
        line-height: 120%;
    }
    .sh-txt>a, .c-txt>a{
        width:53%;
    }
    /*footer*/
    footer>div{
        width: 21%;
    }
}

@media screen and (max-width: 704px) {
    /*header*/
    /*navbar -> burger menu */
    .header-Rbutton>a{
        padding: 1vh 1vw;
    }
    /*index.php*/
    .garage, .concession{
        flex-direction:column;
        justify-content:center;
        background:none;
        background-size:cover;
        background-position:50% 100%;
        box-shadow:none;
    }
    .sh-txt, .c-txt{
        width:90%;
        margin:0 auto;
        padding:1.5vh 1vw;
        background: rgba(255, 217, 0, 1);
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border:2px solid black;
        border-top:none;
        clip-path: none;
    }
    .sh-txt>h2, .sh-txt>p, .c-txt>h2, .c-txt>p{
        margin:1.5vh 1vw;
    }
    .sh-txt>a, .c-txt>a{
        margin:0 auto;
    }
    .garage>img, .concession>img{
        display:block;
        width:92%;
        margin:0 auto;
        border:2px solid black;
        border-bottom:none;
    }
    .garage>img{
        border-top:none;
    }
    .concession>img{
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

/*contact section*/
    .contact{
        flex-direction:column-reverse;
        width:92%;
        border:2px solid black;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        border-bottom:none;
    }
    .contact>iframe{
        width:100%;
        margin:0;
        border:none;
        border-radius:none;
    }
    .open-time{
        clip-path:none;
        margin:0;
        padding:0;
        width:100%;
        background:var(--base-yellow);
    }
    .week>div{
        margin:0;
    }

}

@media screen and (max-width: 600px) {
}